@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    margin: 0;
    height: 100vh;
    background-color: #f3f3f3;
}

input,
button {
    padding: 8px 16px;
}
