@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --bgColor: #fff;
    --textColor: #232333;
    --maincolor: #f25a73;
    --darkMaincolor: #ffb254;
    --hovercolor: var(--maincolor);
    --bordercl: #ffb6c1;
    --draftColor: var(--maincolor);
    --draftBg: #f9f2f4;
}

img {
    border: none;
}

p {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: unset;
}

blockquote {
    border-color: rgb(0 0 0 / 0.5);
    background-color: rgb(0 0 0 / 0.05);
    color: inherit;
    padding: 1px 16px;
}

code {
    font-weight: bold;
    padding: 0px 4px;
    border-radius: 2px;
}

pre code {
    font-weight: normal;
}

figcaption {
    text-align: center;
}

section.list-item .description a {
    pointer-events: none;
    border: none;
}

.draft-label {
    color: var(--draftColor);
    background-color: var(--draftBg);
}

footer {
    flex-wrap: wrap;
}

footer > div:not(:last-child)::after {
    content: "|";
    margin-inline: 0.5rem;
}

.social-links {
    display: flex;
}

.soc {
    display: inline-flex;
    position: relative;
    top: 2px;
}

.display-center {
    display: flex;
    justify-content: center;
}

.padding-s {
    padding: 8px;
}
.padding-none {
    padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bordercl: #555;
        --draftColor: var(--darkMaincolor);
        --draftBg: #4c3315;
    }

    ::selection {
        background-color: var(--darkMaincolor);
        color: var(--textColor);
    }

    code {
        color: #232323;
        background-color: rgb(255 255 255 / 0.8);
    }

    blockquote {
        border-color: rgb(255 255 255 / 0.5);
        background-color: rgb(255 255 255 / 0.05);
    }
}
