:root {
    /* --maincolor: #ec1338; */
    --maincolor: #F25A73;
    --darkMaincolor: #FFB254;
    --hovercolor: var(--maincolor);
    --bordercl: #ffb6c1;
    --draftColor: var(--maincolor);
    --draftBg: #f9f2f4;
}

p {
    font-size: 0.95rem;
    font-family: "Roboto Mono", sans-serif;
}

blockquote {
    border-color: rgb(0 0 0 / 0.5);
    background-color: rgb(0 0 0 / 0.05);
    color: inherit;
    padding: 1px 16px;
}

code {
    font-weight: bold;
}

.draft-label {
    color: var(--draftColor);
    background-color: var(--draftBg);
}

footer {
    flex-wrap: wrap;
}

footer > div:not(:last-child)::after {
    content: "|";
    margin-inline: 0.5rem;
}

.social-links {
    display: flex;
}

.soc {
    display: inline-flex;
    position: relative;
    top: 2px;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bordercl: #555;
        --draftColor: var(--darkMaincolor);
        --draftBg:#4c3315;
    }

    code {
        color: #232323;
        background-color: rgb(255 255 255 / 0.8);
    }

    blockquote {
        border-color: rgb(255 255 255 / 0.5);
        background-color: rgb(255 255 255 / 0.05);
    }
}
